{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="section">
    <form method="post">

        {% csrf_token %}
        {{ form.media }}
        
        <div class="field">
            <label class="label">{{ form.classiffication.label }}</label>
            <div class="control">
                <div class="select">
                    {{ form.classiffication }}
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">{{ form.method.label }}</label>
            <div class="control">
                <div class="select">
                    {{ form.method }}
                </div>
            </div>
        </div>
        <label class="label">{{ form.content.label }}</label>
        {{ form.content }}
        <div class="section">
            <button class="button is-primary is-rounded is-midium  is-fullwidth" type="submit">質問を追加</button>
        </div>
    </form>
</div>

{% endblock %}