{% extends 'base.html' %}
{% load markdown_extras %}

{% block title %} Answer {% endblock %}

{% block content %}

<div class="columns main-question">
  <div class="column is-two-thirds">

    <div class="card card-question">

      <div class="card-content">
        <div class="content">
          <form method="post">
            {% csrf_token %} {{ form.media }}
            <label class="label">{{ form.classiffication.label }}</label>
            <div class="control">
              <div class="select">
                {{ form.classiffication }}
              </div>
            </div><br>

            <label class="label">{{ form.method.label }}</label>
            <div class="control">
              <div class="select">
                {{ form.method }}
              </div>
            </div><br>
            <label class="label">{{ form.content.label }}</label>
            {{ form.content }}
            <div class="section has-text-centered">
              <button class="button is-info is-rounded is-midium" type="submit">
                質問を更新する
              </button>
            </div>
          </form>
        </div>
        <hr />

        {% for reply in object.replies.all %}

        {% include 'answer/components/reply_content.html' %}
        <hr>

        {% endfor %}

      </div>
    </div>
  </div>

  {% include 'answer/components/category_column.html' %}

</div>

{% endblock %}