{% extends 'base.html' %}
{% load markdown_extras %}

{% block title %} Top | Answer {% endblock %}

{% block content %}

<div class="columns main-question">
    <div class="column is-two-thirds">
        {% for object in object_list %}

        <div class="card card-question">

            {% include 'answer/components/question_card_header.html' %}

            <div class="card-content">
                <a class="content has-text-black" href="{% url 'answer:detail' object.pk %}">

                    {% include 'answer/components/question_content.html' %}

                </a>
                <hr />

                {% for reply in object.replies.all %}

                {% include 'answer/components/reply_content.html' %}
                <hr>

                {% endfor %}

                <div class="has-text-centered">
                    <a class="button is-info is-rounded" href="{% url 'answer:detail' object.pk %}">回答する</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% include 'answer/components/category_column.html' %}

</div>

{% endblock %}