body {
  background-color: #fafafa;
}

.registration-area {
  /* background-color: #fafafa; */
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
