body {
  background-color: #fafafa;
}

.registration-area {
  /* background-color: #fafafa; */
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-question {
  margin-top: 1rem;
}

.card-question {
  margin-bottom: 1rem;
}
