{% load simple_tags %}

{% if is_paginated %}

<nav class="pagination is-centered" role="navigation" aria-label="pagination" style="margin: 2rem 0 2rem;">
    {% if page_obj.has_previous %}
    <a class="pagination-previous" href="?{%  url_replace request 'page' page_obj.previous_page_number %}"
        style="background-color: white;">前へ
    </a>
    {% endif %}
    {% if page_obj.has_next%}
    <a class="pagination-next" href="?{% url_replace request 'page' page_obj.next_page_number %}"
        style="background-color: white;">次へ</a>
    {% endif %}

    <ul class="pagination-list">

        {% if page_obj.has_previous %}
        {% if page_obj.previous_page_number != 1 %}
        <li><a class="pagination-link" href="?page=1">1</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% endif %}
        <li><a class="pagination-link" href="?page={{ page_obj.previous_page_number }}">
                {{ page_obj.previous_page_number }}
            </a></li>
        {% endif %}

        <li><a class="pagination-link is-current" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
        <li><a class="pagination-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        </li>
        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" href="?page={{ page_obj.paginator.num_pages }}">
                {{ page_obj.paginator.num_pages}}</a></li>
        {% endif %}
        {% endif %}
    </ul>
</nav>

{% endif %}